@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* resetting browsers default margin */
*{
    margin: 0px 0px;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* banner styles */

.banner-container{
    /* width: 1440px;
    height: 652px; */
    /* border: solid red; */
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

/* header styles */
.header-title{
    margin-top: 26px;
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
    font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.header-description{
    margin: 24px 73px; 
    width: 852px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    color: rgba(13, 19, 33, 0.7);
}

/* button styles */
    .btn-contact{
    background-color: #ffffff;
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 48px;
}

/* form 2 styles */
.form-2-container{
    /* width: 1140px;
    height: 1395px; */
    
   margin: 0 auto;
   margin-left: 150px;
   margin-right: 150px;
   margin-top: 74px;
   height: 1395px;
   border: 2px solid red;
}

.form-2-contents{
    border: 2px solid red;
    font-family: Azeret Mono;
}

.form-2-title{
    padding: 80px 97px;
    
    border: 2px solid rgb(15, 0, 82);
}

.form-2-header{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    border: 2px solid red;

}
.form-2-description{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    border: 2px solid red;
}

.form-point-1{
    
    display: flex;
    flex-direction: row;
    justify-items: auto;
    gap: 200px;
}


.point-header{
    text-align: left;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;

}
.point-header p{
    color: rgba(13, 19, 33, 0.7);
    padding: 48px 0px 0px 0px;
    width: 468px;
    height: 52px;
    text-align: left;
}

.form-point-1{
    width: 1400px;
    border: 2px solid red;
}

.form-point-1-text { 

    /* margin-right: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-point-1-text h4{
    padding: 48px 0px 0px 0px;
}

.form-point-1-text p{

}

.form-point-1-image{
    
    padding: 48px 0px 0px 0px;

}

.form-point-2{
    width: 1400px;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-point-2-text { 

    /* margin-right: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.form-point-2-text h4{
    padding: 48px 0px 0px 0px;
    text-align: right;
}

.form-point-2-text p{
    text-align: right;
}

.form-point-2-image{
    
    padding: 48px 0px 0px 0px;

}

.form-point-2-image{
    
    padding: 48px 0px 0px 0px;

}

.form-point-3{
    width: 1400px;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-point-3-text { 

    /* margin-right: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.form-point-3-text h4{
    padding: 48px 0px 0px 0px;
    text-align: right;
}

.form-point-3-text p{
    text-align: left;
}

.form-point-3-image{
    
    padding: 48px 0px 0px 0px;

}